* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;

}

.content {
    padding: 50px;
    letter-spacing: 1px;
    line-height: 40px;

}

.content h1 {
    font-size: 56px;
    margin-top: 10px;
    ;
    margin-bottom: 50px;
}

.content p {
    margin-top: 30px;
}

.content .h {
    margin-top: 60px;
}